@import "variables"	

html
	// background-color: #f0ead2 
	background-color: $bg
	font: 400 calc(max(1rem, .75vw)) Roboto

.container
	padding: 0 calc(max(3rem, 3vw))

.titleText
	padding: calc(max(3rem, 3vh)) 0
	
.drinks
	display: grid
	gap: 1.5em
	grid-template-columns: repeat(2, 1fr)
	grid-template-rows: 1fr
	@media (max-width: 800px)
		grid-template-columns: repeat(1, 1fr)


.ingredients
	flex: 1
	overflow: auto


.contentContainer
	display: grid
	grid-template-columns: 1fr 4fr
	align-items: start
	@media (max-width: 800px)
		grid-template-columns: 1fr
	

.title
	font: 400 clamp(2rem, 7vw, 5rem) scotch-display

.subtitle
	font: 200 clamp(1rem, 1.5vw, 2rem) Roboto

	
.menu
	min-height: 60vh
	display: flex
	flex-direction: column
	justify-content: space-between
	border: 2px solid #576b33
	border-radius: .5rem
	padding: 1.5rem 1rem
	margin-right: calc(max(3rem, 3vw))
	@media (max-width: 800px)
		margin-right: 0
		width: 100%

.optionTitle
	font: 300 calc(max(1.25rem, 1vw)) Roboto
	padding: 1em 0 .25em 0

.first
	padding-top: 0

.favoriteGroup, .alcoholic
	padding-bottom: .5em

.inputGroup
	// border: 1px solid red
	display: flex
	align-items: center
	cursor: pointer
	font: 400 calc(max(1.25rem, 1vw)) Roboto
	input
		height: calc(max(1rem, .75vw))
		width: calc(max(1rem, .75vw))
	span
		cursor: pointer
		padding: .25em
	label
		cursor: pointer

.pages
	padding: 2rem 0
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	gap: .5em
	.dots, .pageBtn
		display: flex
		justify-content: center
		align-items: center
		width: calc(max(2rem, 2vw)) 
		height: calc(max(2rem, 2vw))
	.pageBtn
		border-radius: .5em
		text-align: center
		background-color: $primary
		cursor: pointer
		transition: all 0.3s ease-in-out
		&:hover
			background-color: $primary-tint-1
		&.selected
			border: 2px solid $primary-shade-2
	.arrow
		&:first-child
			transform: rotate(90deg)
		&:last-child
			transform: rotate(-90deg)